{% extends "layouts/admin/main.html.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Articles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-index">
                    Article Edit
                    <a href="{{ path('article_index') }}" class="btn btn-default pull-right">Back</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input type="submit" value="Edit" class="btn btn-success"/>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
